---
import BaseLayout from '../layouts/BaseLayout.astro'
import TimeLineElement from '../components/cv/TimeLine.astro'
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
	<div class="mb-5">
		<div class="w-full text-3xl font-bold"><h1>Profile</h1></div>
	</div>

	<div class="mb-10 text-justify">
		<h2>
			I'm a <b>Nuclear and Power Technologies Engineer</b> who found a very special professional development
			on <b>Emerging Technologies</b>. With solid bases on physics and math, this nuclear engineer
			relate his works with programming skills and uses of IA to make closer the gap between <b
				>Science and Software Development</b
			>
		</h2>
	</div>

	<div class="mb-5">
		<div class="w-full text-3xl font-bold">Education</div>
	</div>

	<div class="time-line-container mb-10 grid gap-4">
		<TimeLineElement
			title="High School"
			subtitle="[2016] to [2018] at [IPVCE Cándido González Morález], [Ciego de Ávila], [Cuba]"
		/>
		<TimeLineElement
			title="BSE Nuclear and Power Technologies"
			subtitle="[2021] to [2024] at [University of Havana], [Havana], [Cuba]"
		/>
	</div>

	<div class="mb-5">
		<div class="w-full text-3xl font-bold">Experience</div>
	</div>

	<div class="time-line-container mb-10">
		<TimeLineElement
			title="Data Analyst"
			subtitle="From [2020] to [2021] at [MINSAP], [Ciego de Ávila], [Cuba]"
			link="https://www.ecured.cu/Andariego"
		>
			Data Scientist with expertise in multi-database management (MySQL, PostgreSQL, SQLite). Led
			the Analysis of the Andariego COVID control platform for MINSAP Ciego de Avila, contributing
			to institutional data mining projects that demonstrated strong capabilities in database design
			and pandemic response technology solutions, this analythics helped doctors and epidemiologist
			to improve the early detection of new cases and people related to it and decreased the
			infection rate in 15%.
		</TimeLineElement>
		<TimeLineElement
			title="Assistant Teacher"
			subtitle="From [2025] to [Now] at [University of Havana], [Havana], [Cuba]"
			link="https://www.uh.cu/inicio"
		>
			As an educational support professional, I provide individualized attention to students
			struggling with coursework while assisting lead teachers in lesson preparation through
			material creation and activity setup. I reinforce learning concepts by managing small-group
			instruction and maintain academic oversight by grading assignments and tests while tracking
			student progress. I teach Real Analysis I and II while pursuing research in Computational
			Intelligence and Machine Learning. My technical expertise includes working with SIESTA for DFT
			calculations in Quantum Chemistry and Materials Science, alongside developing Embedded Systems
			and IoT solutions using Raspberry Pi for Smart Cities and reliable computing systems.
		</TimeLineElement>
		<TimeLineElement
			title="Full-Stack Developer"
			subtitle="From [2025] to [Now] at [Desoft], [Havana], [Cuba]"
			link="https://www.desoft.cu/es"
		>
			Full Stack Developer specializing in Django REST Framework API development and system
			optimization. Designed and implemented secure APIs with JWT authentication while applying
			server balancing techniques, and smart database design that delivered 50% performance
			improvements. Provided technical leadership as GitLab supervisor and CI/CD pipeline architect
			for institutional projects requiring robust business logic implementation.
		</TimeLineElement>
	</div>
	<!-- 
	<div class="mb-5">
		<div class="w-full text-3xl font-bold">Certifications</div>
	</div>

	<ul class="mx-6 mb-10 grid list-disc gap-2">
		<li>
			<a href="#" target="_blank"> Certification Name (with link)</a>
		</li>
		<li>
			<a href="#" target="_blank"> Certification Name (with link)</a>
		</li>
	</ul> -->

	<div class="mb-5">
		<div class="w-full text-3xl font-bold">Skills</div>
	</div>

	<ul class="mx-6 list-disc columns-2 md:columns-5">
		<li>DRF - Api REST</li>
		<li>Fast API</li>
		<li>Python</li>
		<li>PostgreSQL, MySQL</li>
		<li>VUE3</li>
		<li>Next.js</li>
		<li>Astro</li>
		<li>Bash Scripting</li>
		<li>GIT</li>
		<li>C++</li>
		<li>Rust</li>
		<li>Docker</li>
		<li>N8N</li>
		<li>Wordpress</li>
		<li>MATLAB</li>
	</ul>

	<div class="mb-5 mt-1">
		<div class="w-full text-3xl font-bold">Languages</div>
	</div>

	<ul class="mx-6 list-decimal columns-2 md:columns-5">
		<li>Spanish: Native</li>
		<li>English: B2</li>
	</ul>
</BaseLayout>
