---
import BaseLayout from '../layouts/BaseLayout.astro'
import TimeLineElement from '../components/cv/TimeLine.astro'
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
	<div class="mb-5">
		<div class="w-full text-3xl font-bold">Profile</div>
	</div>

	<div class="mb-10 text-justify">
		<h1>
			I'm a <b>Nuclear and Power Technologies Engineer</b> who found a very special professional development
			on <b>Emerging Technologies</b>. With solid bases on physics and math, this nuclear engineer
			relate his works with programming skills and uses of IA to make closer the gap between <b
				>Science and Software Development</b
			>
		</h1>
	</div>

	<div class="mb-5">
		<div class="w-full text-3xl font-bold">Education</div>
	</div>

	<div class="time-line-container mb-10 grid gap-4">
		<TimeLineElement
			title="High School"
			subtitle="[2016] to [2018] at [IPVCE Cándido González Morález], [Ciego de Ávila], [Cuba]"
		/>
		<TimeLineElement
			title="BSE Nuclear and Power Technologies"
			subtitle="[2021] to [2024] at [University of Havana], [Havana], [Cuba]"
		/>
	</div>

	<div class="mb-5">
		<div class="w-full text-3xl font-bold">Experience</div>
	</div>

	<div class="time-line-container mb-10">
		<TimeLineElement
			title="Assistant Teacher"
			subtitle="From [2025] to [Now] at [University of Havana], [Havana], [Cuba]"
			link="https://www.uh.cu/inicio"
		>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
			labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
			laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
			voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
			non proident.
		</TimeLineElement>
		<TimeLineElement
			title="Full-Stack Developer"
			subtitle="From [2025] to [Now] at [Desoft], [City], [Country]"
		>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
			labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
			laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
			voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
			non proident.
		</TimeLineElement>
		<TimeLineElement
			title="Job Title at Project or Company Name"
			subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
		>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
			labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
			laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
			voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
			non proident.
		</TimeLineElement>
	</div>

	<div class="mb-5">
		<div class="w-full text-3xl font-bold">Certifications</div>
	</div>

	<ul class="mx-6 mb-10 grid list-disc gap-2">
		<li>
			<a href="#" target="_blank"> Certification Name (with link)</a>
		</li>
		<li>
			<a href="#" target="_blank"> Certification Name (with link)</a>
		</li>
	</ul>

	<div class="mb-5">
		<div class="w-full text-3xl font-bold">Skills</div>
	</div>

	<ul class="mx-6 list-disc columns-2 md:columns-5">
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
	</ul>
</BaseLayout>
