---
import BaseLayout from '../layouts/BaseLayout.astro'
import HorizontalCard from '../components/HorizontalCard.astro'
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
	<div>
		<div class="mb-5 w-full text-3xl font-bold">Projects Header</div>
	</div>

	<HorizontalCard
		title="Fast API Todo with IA integration"
		img="/post_img.webp"
		desc="Another Todo APP, but it's difference from others because use integration with IA to build resumes of your daily rutine and activities "
		url="https://github.com/carlosr301101/todo-backend-FastAPI"
		badge="Fast API"
		
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="int64grep"
		img="/post_img.webp"
		desc="It's a new flavour of grep, builded in Rust, to enhance speed and relaibility."
		url="https://crates.io/crates/int64grep"
	/>

	<div>
		<div class="mb-5 mt-10 w-full text-3xl font-bold">Projects Header</div>
	</div>

	<HorizontalCard
		title="Demo Project 3"
		img="/post_img.webp"
		desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
		url="#"
		badge="FOSS"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Demo Project 4"
		img="/post_img.webp"
		desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
		url="#"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Demo Project 5"
		img="/post_img.webp"
		desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
		url="#"
	/>
</BaseLayout>
