---
const today = new Date()
---

<footer class="footer footer-center mb-5 block pt-10">
	<div class="pb-2">
		&copy; {today.getFullYear()} Int-64
	</div>
	<div class="inline opacity-75">
		Developed by <a href="https://carlosr301101.github.io" target="_blank" class="font-bold"
			>Int-64</a
		> using
		<!-- Thanks for using this template. You can keep this line to support my work :) --> 
		<a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold"
			>Astrofy Template ⚡️</a
		>
	</div>
</footer>

